#--- 컴파일 및 빌드 결과물 ---
Binaries/
Intermediate/
Build/
DerivedDataCache/

#--- 프로젝트 관련 임시 파일 ---
.vscode/
.vs/
*.sln
*.suo
*.user
*.userosscache
*.sln.docattachments.res

#--- 에셋 및 로그 ---
Saved/
FileOpenOrder/

#--- OS 생성 파일 ---
.DS_Store
Thumbs.db

#--- 환경 변수 ---
TestServer/.env

#--- 플러그인 개발 전용 ---
.claude
Doxyfile
Analysis/