# Server Log Language (ko / en, Default: ko)
LOG_LANG=ko

# SMTP Configuration (If not set, the authentication code will be output to the server.)

# In case of Gmail: 
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=your-email@gmail.com
